# Projet immobilier

## Reduction dataset

In [ ]:
import pandas as pd
from pandas import DataFrame

In [ ]:
full_df = pd.read_csv(r"train.csv")
#read a comma-separated values (csv) file into DataFrame

In [ ]:
house_column = ["YearBuilt","BedroomAbvGr","TotalBsmtSF","GrLivArea","1stFlrSF","2ndFlrSF","OverallCond","KitchenQual","GarageCond","Neighborhood"]
sale_column = ["SalePrice"]
date_column = ["MoSold","YrSold"]
property_column = ["LotArea","Utilities"]

In [ ]:
house_df = full_df[[x for x in full_df.columns if x in house_column]]
sale_df = full_df[[x for x in full_df.columns if x in sale_column]]
date_df = full_df[[x for x in full_df.columns if x in date_column]]
property_df = full_df[[x for x in full_df.columns if x in property_column]]

In [ ]:
house_df.head()

,Neighborhood,OverallCond,YearBuilt,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,BedroomAbvGr,KitchenQual,GarageCond
0,CollgCr,5,2003,856,856,854,1710,3,Gd,TA
1,Veenker,8,1976,1262,1262,0,1262,3,TA,TA
2,CollgCr,5,2001,920,920,866,1786,3,Gd,TA
3,Crawfor,5,1915,756,961,756,1717,3,Gd,TA
4,NoRidge,5,2000,1145,1145,1053,2198,4,Gd,TA

### Préparation dataframe h_house

In [ ]:
h_house_df = house_df.rename(columns={"Neighborhood":"H_Neighborhood","OverallCond":"H_OverallCond","YearBuilt":"H_YearBuilt","TotalBsmtSF":"H_TotalBsmtSF","1stFlrSF":"H_FirstFlrSF","2ndFlrSF":"H_SecondFlrSF","GrLivArea":"H_GrLivArea","BedroomAbvGr":"H_BedroomAbvGr","KitchenQual":"H_KitchenQual","GarageCond":"H_GarageCond"}, inplace= False)

In [ ]:
h_house_df.insert(0,"H_HouseID",["H"+"0"*(5-len(str((i))))+ str(i) for i in range(1,1460+1)],False)

In [ ]:
h_house_df.to_csv(r"h_house.csv", index=False)

In [ ]:
h_house_df.head()

,H_HouseID,H_Neighborhood,H_OverallCond,H_YearBuilt,H_TotalBsmtSF,H_FirstFlrSF,H_SecondFlrSF,H_GrLivArea,H_BedroomAbvGr,H_KitchenQual,H_GarageCond
0,H00001,CollgCr,5,2003,856,856,854,1710,3,Gd,TA
1,H00002,Veenker,8,1976,1262,1262,0,1262,3,TA,TA
2,H00003,CollgCr,5,2001,920,920,866,1786,3,Gd,TA
3,H00004,Crawfor,5,1915,756,961,756,1717,3,Gd,TA
4,H00005,NoRidge,5,2000,1145,1145,1053,2198,4,Gd,TA

In [ ]:
sale_df.to_csv(r"sale.csv", index=False)

In [ ]:
date_df.to_csv(r"date.csv", index=False)

### Préparation dataframe p_property

In [ ]:
p_property_df = property_df.rename(columns={"LotArea":"P_LotArea","Utilities":"P_Utilities"}, inplace= False)

In [ ]:
p_property_df.insert(0,"P_PropertyID",["P"+"0"*(5-len(str((i))))+ str(i) for i in range(1,1460+1)],True)

In [ ]:
p_property_df.head()

  P_PropertyID  P_LotArea P_Utilities
0       P00001       8450      AllPub
1       P00002       9600      AllPub
2       P00003      11250      AllPub
3       P00004       9550      AllPub
4       P00005      14260      AllPub

In [ ]:
p_property_df.to_csv(r"p_property.csv", index=False)

### Ajout au dataframe h_house de la colonne qui deviendra clé étrangère en

In [ ]:
h_house_df['H_PropertyID'] = p_property_df.iloc[:,0]

In [ ]:
h_house_df.head()

,H_HouseID,H_Neighborhood,H_OverallCond,H_YearBuilt,H_TotalBsmtSF,H_FirstFlrSF,H_SecondFlrSF,H_GrLivArea,H_BedroomAbvGr,H_KitchenQual,H_GarageCond,H_PropertyID
0,H00001,CollgCr,5,2003,856,856,854,1710,3,Gd,TA,P00001
1,H00002,Veenker,8,1976,1262,1262,0,1262,3,TA,TA,P00002
2,H00003,CollgCr,5,2001,920,920,866,1786,3,Gd,TA,P00003
3,H00004,Crawfor,5,1915,756,961,756,1717,3,Gd,TA,P00004
4,H00005,NoRidge,5,2000,1145,1145,1053,2198,4,Gd,TA,P00005

## Utiliser sql dans un notebook

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
#conda install -c conda-forge ipython-sql

In [ ]:
# import Modules
import sqlite3

## Connexion à une BDD sqlite (avec création)

In [ ]:
%sql sqlite:///foo.db

'Connected: @foo.db'

In [ ]:
conn = sqlite3.connect("test3.db")

%%sql 
DROP TABLE Property;

In [ ]:
%%sql
CREATE TABLE Property
(
  P_PropertyID varchar PRIMARY KEY,
  P_LotArea integer,
  P_Utilities varchar
);

 * sqlite:///foo.db
Done.

[]

%%sql 
DROP TABLE House;

In [ ]:
%%sql
CREATE TABLE House
(
  H_HouseID varchar PRIMARY KEY,
  H_Neighborhood varchar,
  H_OverallCond integer,
  H_YearBuilt integer,
  H_TotalBsmtSF integer,
  H_FirstFlrSF integer,
  H_SecondFlrSF integer,
  H_GrLivArea integer,
  H_BedroomAbvGr integer,
  H_KitchenQual varchar,
  H_GarageCond varchar,
  H_PropertyID integer,
  H_SalePrice integer,
  FOREIGN KEY (H_PropertyID) REFERENCES Property (P_PropertyID)
);

 * sqlite:///foo.db
Done.

[]

## Ecriture des dataframes dans la BDD

In [ ]:
h_house_df.to_sql('House', conn, index=True)

1460

In [ ]:
p_property_df.to_sql('Property', conn, index=True)

1460

## Vérification de la BDD: première requête

In [ ]:
request = '''SELECT P_PropertyID , P_Utilities, P_LotArea
FROM Property'''

In [ ]:
df = pd.read_sql(request, conn)

In [ ]:
df

     P_PropertyID P_Utilities  P_LotArea
0          P00001      AllPub       8450
1          P00002      AllPub       9600
2          P00003      AllPub      11250
3          P00004      AllPub       9550
4          P00005      AllPub      14260
...           ...         ...        ...
1455       P01456      AllPub       7917
1456       P01457      AllPub      13175
1457       P01458      AllPub       9042
1458       P01459      AllPub       9717
1459       P01460      AllPub       9937

[1460 rows x 3 columns]

In [ ]:
request2 = '''SELECT P_PropertyID , P_Utilities, P_LotArea
FROM Property
LEFT OUTER JOIN House ON H_PropertyID = P_PropertyID
ORDER BY P_LotArea DESC 
LIMIT 10'''

In [ ]:
df = pd.read_sql(request2, conn)

In [ ]:
df

  P_PropertyID P_Utilities  P_LotArea
0       P00314      AllPub     215245
1       P00336      AllPub     164660
2       P00250      AllPub     159000
3       P00707      AllPub     115149
4       P00452      AllPub      70761
5       P01299      AllPub      63887
6       P01397      AllPub      57200
7       P00770      AllPub      53504
8       P00458      AllPub      53227
9       P00385      AllPub      53107

## Requête 3 : L'année de vente des 50 propriétés avec le terrain le plus grand

H_YearBuilt = année de vente de la maison

P_LotArea = surface du terrain de la maison

In [ ]:
request3 = '''SELECT P_PropertyID , H_YearBuilt, P_LotArea
FROM House, Property
WHERE P_PropertyID = H_PropertyID
ORDER BY P_LotArea DESC 
LIMIT 50'''

In [ ]:
df = pd.read_sql(request3, conn)

In [ ]:
df

   P_PropertyID  H_YearBuilt  P_LotArea
0        P00314         1965     215245
1        P00336         1965     164660
2        P00250         1958     159000
3        P00707         1971     115149
4        P00452         1975      70761
5        P01299         2008      63887
6        P01397         1948      57200
7        P00770         2003      53504
8        P00458         1954      53227
9        P00385         1992      53107
10       P00054         1981      50271
11       P00662         1994      46589
12       P00849         1908      45600
13       P00524         2007      40094
14       P00272         1954      39104
15       P01288         1964      36500
16       P01170         1995      35760
17       P01185         1963      35133
18       P00412         1955      34650
19       P00530         1957      32668
20       P01191         1961      32463
21       P00172         1960      31770
22       P01058         1994      29959
23       P00829         1967      28698
24       P00935         1960      27650
25       P00693         1989      26178
26       P01447         1962      26142
27       P00198         1918      25419
28       P01384         1918      25339
29       P00877         1963      25286
30       P00589         1968      25095
31       P00944         1967      25000
32       P01261         1999      24682
33       P00940         1940      24090
34       P01271         1979      23595
35       P01108         2006      23257
36       P00186         1892      22950
37       P00418         1918      22420
38       P01431         2005      21930
39       P00559         1996      21872
40       P00564         1918      21780
41       P00423         1954      21750
42       P01049         1960      21750
43       P00727         1988      21695
44       P00692         1994      21535
45       P00121         1969      21453
46       P00808         1923      21384
47       P01011         1948      21286
48       P00114         1953      21000
49       P00665         2005      20896

### Requête 4 : L'année de vente des 20 propriétés avec le terrain le plus grand, avec leur condition globale

In [ ]:
request4 = '''SELECT P_PropertyID , H_YearBuilt, P_LotArea, H_OverallCond
FROM House, Property
WHERE P_PropertyID = H_PropertyID
ORDER BY P_LotArea DESC 
LIMIT 20'''

In [ ]:
df = pd.read_sql(request4, conn)

In [ ]:
df

   P_PropertyID  H_YearBuilt  P_LotArea  H_OverallCond
0        P00314         1965     215245              5
1        P00336         1965     164660              6
2        P00250         1958     159000              7
3        P00707         1971     115149              5
4        P00452         1975      70761              5
5        P01299         2008      63887              5
6        P01397         1948      57200              5
7        P00770         2003      53504              5
8        P00458         1954      53227              6
9        P00385         1992      53107              5
10       P00054         1981      50271              5
11       P00662         1994      46589              7
12       P00849         1908      45600              8
13       P00524         2007      40094              5
14       P00272         1954      39104              7
15       P01288         1964      36500              5
16       P01170         1995      35760              5
17       P01185         1963      35133              4
18       P00412         1955      34650              5
19       P00530         1957      32668              3

### Requête 5 : Les maisons vendues en 2003, construites sur les terrains les plus grands

In [ ]:
request5 = '''SELECT P_PropertyID , H_YearBuilt, P_LotArea 
FROM House, Property
WHERE P_PropertyID = H_PropertyID AND H_YearBuilt = 2003
ORDER BY P_LotArea DESC'''

In [ ]:
df = pd.read_sql(request5, conn)

In [ ]:
df

   P_PropertyID  H_YearBuilt  P_LotArea
0        P00770         2003      53504
1        P01342         2003      13695
2        P00162         2003      13688
3        P00225         2003      13472
4        P00047         2003      12822
5        P00641         2003      12677
6        P00823         2003      12394
7        P00310         2003      12378
8        P00620         2003      12244
9        P00927         2003      11999
10       P00482         2003      11846
11       P00184         2003      11426
12       P00249         2003      11317
13       P00068         2003      10665
14       P00333         2003      10655
15       P01370         2003      10635
16       P00555         2003      10625
17       P00937         2003      10083
18       P00732         2003       9590
19       P00833         2003       9548
20       P00106         2003       9375
21       P00550         2003       9375
22       P00277         2003       9196
23       P01208         2003       9135
24       P00257         2003       8791
25       P00201         2003       8546
26       P00001         2003       8450
27       P00959         2003       8450
28       P00375         2003       8200
29       P01241         2003       8158
30       P00903         2003       7875
31       P00752         2003       7750
32       P00363         2003       7301
33       P00821         2003       7226
34       P01255         2003       6931
35       P00594         2003       4435
36       P00851         2003       4435
37       P01369         2003       4435
38       P01423         2003       4435
39       P00560         2003       3196
40       P00852         2003       3196
41       P01252         2003       3136
42       P01237         2003       2628
43       P00349         2003       2448
44       P00972         2003       2268

### Requête 6 : Les maisons vendues en 2003, construites sur les terrains les plus grands et situées dans les quartiers Nord de la ville de Ames

In [ ]:
request6 = '''SELECT P_PropertyID , H_YearBuilt, P_LotArea, H_Neighborhood
FROM House, Property
WHERE P_PropertyID = H_PropertyID AND H_YearBuilt = 2003 AND H_Neighborhood IN ("NridgHt","NoRidge","NpkVill","Names","NWames")
ORDER BY P_LotArea DESC'''

In [ ]:
df = pd.read_sql(request6, conn)

In [ ]:
df

   P_PropertyID  H_YearBuilt  P_LotArea H_Neighborhood
0        P00162         2003      13688        NridgHt
1        P00225         2003      13472        NridgHt
2        P00641         2003      12677        NridgHt
3        P00310         2003      12378        NridgHt
4        P00927         2003      11999        NridgHt
5        P00482         2003      11846        NridgHt
6        P00333         2003      10655        NridgHt
7        P00555         2003      10625        NridgHt
8        P01252         2003       3136        NridgHt
9        P01237         2003       2628        NridgHt
10       P00349         2003       2448        NridgHt
11       P00972         2003       2268        NridgHt